extends admin

block content
  table#product-grid.table.table-bordered.datagrid
      thead
        tr
          th
            span.datagrid-header-title 产品列表
            .datagrid-header-left
            .datagrid-header-right
              .input-append.search
                input.input-medium(type='text', placeholder='Search')
                button.btn
                  i.icon-search
                button.btn(type="button", data-backdrop="true", data-toggle="modal", data-target="#add-product-modal")
                  i.icon-plus-sign
      tfoot
        tr
          th
            .datagrid-footer-left(style='display: none;')
              .grid-controls
                span
                  span.grid-start
                  | -
                  span.grid-end
                  | of
                  span.grid-count
                select.grid-pagesize
                  option 10
                  option 20
                  option 50
                  option 100
                span Per Page
            .datagrid-footer-right(style='display: none;')
              .grid-pager
                button.btn.grid-prevpage
                  i.icon-chevron-left
                span Page
                .input-append.dropdown.combobox
                  input.span1(type='text')
                  button.btn(data-toggle='dropdown')
                    i.caret
                  ul.dropdown-menu
                span
                  | of
                  span.grid-pages
                button.btn.grid-nextpage
                  i.icon-chevron-right

  .modal.fade#add-product-modal(role="dialog", aria-labelledby="product-modal-label")
    .modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true")x
      h3#product-modal-label 添加产品
    .modal-body
        style
          input.larger-text-field, textarea.larger-text-field { width : 300px; }

        form#add-product-form.form-horizontal(action='/admin/add_product', method='post', enctype="multipart/form-data")
            .control-group
              label.control-label(for='product_name') 产品名
              .controls
                input.larger-text-field(type='text', 
                  id='product_name', name='product_name', placeholder='产品名',
                  required, data-validation-required-message='请输入产品名')

            .control-group
              label.control-label(for='product_description') 产品简介
              .controls
                textarea.larger-text-field(rows='8', 
                  name='product_description', id='product_description',
                  required, data-validation-required-message='请输入简介',
                  placeholder="请输入产品简介，详细信息待添加后完成")

            .control-group
              label.control-label(for='product_price') 产品价格
              .controls
                input(type='number', 
                  placeholder='产品价格', id='product_price', 
                  name='product_price', required,
                  data-validation-number-message='请输入数字',
                  data-validation-required-message='请输入产品价格')

            .control-group
              label.control-label(for='product_price') 会员价格
              .controls
                input(type='number', 
                  placeholder='会员价格', id='product_member_price',
                  name='product_member_price',
                  data-validation-number-message='请输入数字',
                  required,
                  data-validation-required-message='请输入会员价格')

            .control-group
              label.control-label(for='product_price') 产品规格
              .controls
                input(type='text', 
                  placeholder='产品单位', id='product_unit', name='product_unit',
                  required, data-validation-required-message='请输入产品规格')

            .control-group
              label.control-label(for='product_image') 产品图片(157像素x157像素)
              .controls
                input(type='file', name='product_image')

            .control-group
              label.control-label(for="product_kind") 产品种类
              .controls
                select(name="product_kind")
                  option(value='cakes') 蛋糕
                  option(value='chocolates') 巧克力
                  option(value='candies') 糖果

            .control-group
              label.control-label(for='product_on_discount') 产品参加打折
              .controls
                input(type='checkbox', value='onDiscount', name="product_on_discount")

            .control-group
              label.control-label(for='product_on_groupon') 产品参加团购
              .controls
                input(type='checkbox', value='onGroupon', name='product_on_groupon')
            
            .control-group
              label.control-label(for='product_weight') 产品每规格重量（克）
              .controls
                input(
                type="number",
                placeholer="产品每规格重量",
                id="product_weight",
                name="product_weight",
                data-validation-number-messages="请输入数字",
                required,
                data-validation-required-message="请输入产品每规格重量，方便计算运费")



    .modal-footer
      button.btn(data-dismiss="modal", aria-hidden="true") 关闭
      button.btn.btn-primary#add-product-button 保存修改
  
  script
    $.get('/admin/list_product', function(data) {
        var dataSource = new StaticDataSource({
          columns : [
            { property: 'name',        label: '商品名称',       sortable: true}, 
            { property: 'description', label: '描述',           sortable: true }, 
            { property: 'price',       label: '价格',           sortable: true },
            { property: "memberPrice", label: "会员价",         sortable: true },
            { property: 'onDiscount',  label: '打折中',         sortable: true },
            { property: 'onGroupon',   label: '团购中',         sortable: true },
            { property: 'unit',        label: '规格',           sortable: true },
            { property: 'weight',      label: '每规格重量（克）', sortable: true },
            { property: 'image',       label:'图片',            sortable: true },
            { property: 'detail',      label: '修改详细描述',    sortable: true },
            { property: 'delete',      label: '操作',           sortable: false },
          ],
          data : data,
          delay : 200
        });

        $('#product-grid').datagrid({
          dataSource : dataSource,
          cellrenderfunc : function(row, prop) {
              var html = "";
              if (prop === 'onDiscount' || prop === 'onGroupon')
                row[prop] = row[prop] ? '是' : '否';

              switch (prop) {
                case 'delete':
                  html = '<a href="/admin/delete_product/'+row._id+'" onclick="return confirm(\'真的要删除么？\');">删除</a>';
                  break;
                case 'detail':
                  html = '<a href="/admin/product/' + row._id + '/detail">修改详细描述</a>';
                  break;
                default:
                  html = '<a href="#" class="product-' + prop + '" data-pk="' + row._id + 
                     '" data-url="/admin/update_product" data-name="' + prop + '">' + 
                     row[prop] + '</a>';
                  break;
              }
              return html;
          }
        });

       
      });
    
    $("#product-grid").on('loaded', function(){
      $(".product-name").each(function(index, element) {
        $(element).editable({
            type : "text",
            title : "输入产品名称"
          });
        });

      $(".product-image").each(function(index, element) {
        $(element).editable({
          type : "text",
          title : "修改产品图片"
        });
      });

        $(".product-description").each(function(index, element) {
          $(element).editable({
            type : "textarea",
            title : "输入产品描述"
          });
        });

        $(".product-price").each(function(index, element) {
          $(element).editable({
            type : "text",
            title : "输入产品价格"
          });
        });

        $(".product-memberPrice").each(function(index, element) {
          $(element).editable({
            type : "text",
            title : "输入产品会员价格"
          });
        });

        $(".product-unit").each(function(index, element) {
          $(element).editable({
            type : "text",
            title : "输入产品规格"
          });
        });

        $('.product-onDiscount').each(function(index, element) {
          $(element).editable({
            type: 'select',
            title: '产品是否打折',
            source: [{value: 1, text: '是'}, {value: 2, text: '否'}]
          });
        });

        $('.product-onGroupon').each(function(index, element) {
          $(element).editable({
            type: 'select',
            title: '产品是否团购',
            source: [{value: 1, text: '是'}, {value: 2, text: '否'}]
          });
        });
        
        $('.product-weight').each(function(index, element) {
          $(element).editable({
            type: 'number',
            title: '产品每规格重量'
          });
        });
    });

    $("#add-product-button").on('click', function() {
      $("#add-product-form").submit();
    });

    $("input,textarea,select").jqBootstrapValidation(
      {
          preventSubmit: true,
          submitError: function($form, event, errors) {
              // Here I do nothing, but you could do something like display 
              // the error messages to the user, log, etc.
          },
          filter: function() {
              return $(this).is(":visible");
          }
      }
    );