extends cart

block content
  style
    .lheader {
      font-size: 13px;
      margin-top: 15px;
    }

    .checkout-item {
      margin-bottom: 15px;
      position: relative;
      border: 1px solid #F71833;
      padding: 5px;
      background-color: rgb(255, 249, 237)
    }

    .checkout-item-title {
      display: block;
      width: 90px;
      position: absolute;
      left: 0;
      top: 0;
      padding-top: 17px;
      padding-left: 10px;
      /*background-color: #FB7E8D;*/
      background-clip: border-box;
      z-index: auto
    }

    .checkout-item-content {
      display: block;
      margin-left: 120px;
      position: relative;
    }

    .checkout-name {
      width: 90px;
      position: absolute;
      left: 0;
    }

    .checkout-detail {
      margin-left: 120px;
    }

    .new-address-form label {
      width: 50px;
      display: block;
    }
    
    .address-radio {
      margin-right: 5px;
    }

  .checkout-item
    .checkout-item-title
      h5 送货信息
    .checkout-item-content
      - each address in user.addresses
        .checkout-name
          input.address-radio(type="radio", name="address", value="#{address._id}")
          | #{address.name}
        .checkout-detail
          p #{address.address}，邮编:#{address.zipCode}
          p 收货人#{address.name}
          p 联系电话#{address.phone}
    
      a(href="/member/address") 送货信息管理

  .checkout-item-title
    h5 送货方式
  .checkout-item-content
    input(type="radio", name="express", value="sf")
    | 顺丰
    input(type="radio", name="express", value="others")
    | 其它快递
    p 快递费用 
  
  .checkout-item-title
    h5 费用清单
  .checkout-item-content
    p 商品费用
    p 快递费用
    p 
  
  .checkout-item
    .checkout-item-title
      h5 支付方式
    .checkout-item-content
      p(style="margin: 30px") 支付宝



  form(action='/cart/confirm-order', method='post')
    input(type='submit', value='提交订单')

