extends cart

block title
  确认信息

block content
  style
    .lheader {
      font-size: 13px;
      margin-top: 15px;
    }

    .checkout-item {
      margin-bottom: 15px;
      position: relative;
      border: 1px solid #F71833;
      padding: 5px;
      background-color: rgb(255, 249, 237)
    }

    .checkout-item-title {
      display: block;
      width: 90px;
      position: absolute;
      left: 0;
      top: 0;
      padding-top: 17px;
      padding-left: 10px;
      /*background-color: #FB7E8D;*/
      background-clip: border-box;
      z-index: auto
    }

    .checkout-item-content {
      display: block;
      margin-left: 120px;
      position: relative;
    }

    .checkout-name {
      width: 90px;
      position: absolute;
      left: 0;
    }

    .checkout-detail {
      margin-left: 120px;
    }

    .new-address-form label {
      width: 50px;
      display: block;
    }
    
    .radio {
      margin-right: 5px;
    }
    
    .express-choice {
      margin-top: 5px;
      margin-bottom: 5px;
    }

  .checkout-item
    .checkout-item-title
      h5 送货信息
    .checkout-item-content
      - each address in user.addresses
        .checkout-name
          input.radio.address-radio(type="radio", name="address", value="#{address.province}")
          | #{address.name}
        .checkout-detail
          p #{address.province}, #{address.city}, #{address.address}，邮编:#{address.zipCode}
          p 收货人#{address.name}
          p 联系电话#{address.phone}
    
      a(href="/member/address") 送货信息管理

  .checkout-item
    .checkout-item-title
      h5 送货方式
    .checkout-item-content
      .express-choice
        input#sf-radio.radio(type="radio", name="express", value="sf")
        | 顺丰
      .express-choice
        input#other-radio.radio(type="radio", name="express", value="others")
        | 其它快递
  
  .checkout-item
    .checkout-item-title
      h5 费用清单
    .checkout-item-content
      p 
        | 商品费用 
        span.price ￥#{amount}
      p 
        | 快递费用
        span#express-fee.price
        span 总重1kg
      p 
  
  .checkout-item
    .checkout-item-title
      h5 支付方式
    .checkout-item-content
      p(style="margin: 30px") 支付宝



  form(action='/cart/confirm-order', method='post')
    input(type='submit', value='提交订单')
    
  script
    function updateExpressFee() {
      var province = $('.address-radio[checked]').val();
      var expressFee = $.grep(fees, function(f) {
        if (f.province == province) return true;
        return false;
      })[0];
      
      if ($('#sf-radio').attr('checked')) {
        $('#express-fee').text('￥' + expressFee.sfFee);
      } else {
        $('#express-fee').text('￥' + expressFee.otherFee);
      }
    }
    
    var fees = !{JSON.stringify(fees)};
    $('.address-radio').first().attr('checked', true);
    $('#sf-radio').attr('checked', true);
    updateExpressFee();
    
    $('.address-radio').on('change', updateExpressFee);
    $('#sf-radio').on('change', updateExpressFee);
    $('#other-radio').on('change', updateExpressFee);

