extends member_index

block content
  style
    .address {
      list-style-type: none;
      margin-left: 0px;
      margin-bottom: 20px;
    }
    
    .address-item-name {
      width: 100px;
      display: inline-block;
    }
    
    #submit {
      border: 1px solid rgb(206, 28, 41);
      background-color: rgb(206, 28, 41);
      color: white;
      height: 26px;
    }
    
    #address-form div {
      height: 30px;
    }
    
  - each address in user.addresses
    h4 #{address.name}
    hr
    ul.address
      li 
        span.address-item-name  收件人 
        span.address-item-value #{address.name}
      li 
        span.address-item-name  收货地址 
        span.address-item-value #{address.address}
      li
        span.address-item-name  邮编 
        span.address-item-value #{address.zipCode}
      li 
        span.address-item-name  手机号
        span.address-item-value #{address.phone}
      li
        a(href="/member/address/#{address._id}/edit") 修改

  h4 添加新地址
  hr
  .add-address-form
    form#address-form(action="/member/address", method="post")
      div
        label 姓名
        input#name(type="text", name="name")

      div
        label 地址
        select#province(name="province", style="")
        span(style="margin: 0 5px 0 5px") 省
        select#city(name="city")
        span(style="margin: 0 5px 0 5px") 市
        input#address(type="text", name="address", placeholder="地址")

      div
        label 手机号
        input#phone(name="phone")

      div
        label 邮政编码
        input#zip(name="zip")

      div
        label 送货方式
        select#delivery-method(name="delivery-method")
          option(value="others", selected)普通快递
          option(value="sf")顺丰
      
      input(type="submit", value="添加", id="submit")
      script
        initProv('#province', '#city');
          
      


