extends member_index

block title
  注册

block content
  style
    #register-form div {
      height: 40px;
    }
    
  #register-form
    h1 注册
    p.login 已经是会员？
      a(href='/member/login') 登录
    if typeof(errorMsgs) !== 'undefined'
      p.error
        ul
          each msg in errorMsgs
            li msg
    form(action='/member/register', method='post')
      h5 基本信息
      hr
      div
        label(for="") 邮箱
          abbr(title='必填')*
        input#email(type="text", name="email", placeholder="用于登录、接收订单信息等的邮箱")

      div
        label(for="") 密码
          abbr(title='必填')*
        input#password(type="password", name='password')

      div
        label(for="") 再输一遍密码
          abbr(title='必填')*
        input#repassword(type="password", name='repassword')      
      
      h5(style="margin-top: 8px") 送货信息
      hr(style="margin: 10px 0 15px 0")

      div
        label 姓名
        input#name(type="text", name="name", placeholder="请输入真实姓名，用于收货")

      div
        label 地址
        select#province(name="province", style="")
        span(style="margin: 0 5px 0 5px") 省
        select#city(name="city")
        span(style="margin: 0 5px 0 5px") 市
        input#address(type="text", name="address", placeholder="地址")

      div
        label 联系电话
        input#phone(name="phone")

      div
        label 邮政编码
        input#zip(name="zip")

      div
        label 送货方式
        select#delivery-method(name="delivery-method")
          option(value="others", selected)普通快递
          option(value="sf")顺丰

      h5 其它资料
      hr
      div
        label 性别
        label(for="gender_male", style="width: 40px")
          input#gender_male(type="radio", name="gender", value="0", checked)
          |   男
        label(for="gender_male", style="width: 40px;")
          input#gender_male(type="radio", name="gender", value="1")
          |   女
        
      div
        label 生日
        select#birthday_year(name="birthday_year")
          option 年
          year = 1940
          endyear = 2013
          while year <= endyear
            option(value=year) #{year}
            year = year + 1
        
        select#birthday_month(name="birthday_month")
          option 月
          month = 1
          while month <= 12
            option(value=month) #{month}
            month = month + 1
        
        select#birthday_day(name="birthday_day")
          option 日
          day = 1
          endday = 31
          while day < endday
            option(value=day) #{day}
            day = day + 1
        
                
      .tos
        ul
          li
            label.agree_label(for='agree_tos')
              input#agree_tos(type='checkbox')
              我同意
              a(href='#') 注册条款

      input.submit-button(type="submit", value="注册", id="submit")
  script
    initProv('#province', '#city');
    $('select[id^="birthday"]').css('margin-right', '10px');