extends member_index

block extracss
  link(rel='stylesheet', href='/css/css/table.css')

block content
  h4 我的订单
  hr
  table.table.table-bordered.table-striped
    thead
      tr
        th 订单编号
        th 订单物品
        th 订单金额
        th 订单状态
        th 订单详情
        th 操作
    tbody
      - each order in orders
        tr
          td #{order.no}
          td 
            ul
              -each product in order.products
                li #{product.product.name} #{product.quantity} 个
          td #{order.amount}
          td #{order.status}
          td #{order.remark}
          td
            a(href="javascript:confirm('真的要删除么')") 删除
            a(href="/member/orders/#{order._id}", style="margin-left: 5px") 订单详情
