extends main

block title
  | 产品列表

block content
  p(style="color: red;")
    网站试运营中，商品尚未齐全，请关注我们的淘宝店
  p.breadcrumbs
    a(href='index.html') 产品列表
  ul#product-list
    - each product in products
      li
        a.m(href='/products/#{product.kind}/#{product.id}')
          img.product-image(src='#{product.image}', alt='#{product.name}')
          h4 #{product.name}
        p.origin-price
          | 原价
          span ￥#{product.price}
        p.member-price
          | 会员价
          span ￥#{product.memberPrice}
        p.unit
          | 规格
          span #{product.weight}g/#{product.unit}
        p.view
          a(href='/cart/add/#{product._id}')
            span.img 添加到购物车